.banner{
  width: 100%;
  height: 150px;
  background-color: #1EFBFF;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.banner h1{
  margin: 0;
}

.banner p{
  margin: 0;
  font-style: italic;
  font-size: 14px;
}

.slogan{
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
}
